[Unit]
Description=transmission
Requires=docker.service openvpn.service
After=docker.service openvpn.service
 
[Service]
Restart=always
RestartSec=1m
StartLimitInterval=0
StartLimitBurst=0
ExecStartPre=sysctl -w net.core.rmem_max=4194304
ExecStartPre=sysctl -w net.core.wmem_max=1048576
ExecStartPre=-/storage/.kodi/addons/service.system.docker/bin/docker stop %p
ExecStartPre=-/storage/.kodi/addons/service.system.docker/bin/docker rm %p
ExecStartPre=-/storage/.kodi/addons/service.system.docker/bin/docker pull vhsw/transmission
ExecStart=/storage/.kodi/addons/service.system.docker/bin/docker run --rm \
                     --name %p \
                     -v /storage/downloads:/downloads \
                     -v /storage/transmission-daemon/config:/config \
                     -p 9091:9091 \
                     -p 45555:45555/tcp \
                     -p 45555:45555/udp \
                     vhsw/transmission
 
[Install]
WantedBy=multi-user.target
