[Unit]
Description=transmission
Requires=docker.service openvpn.service
After=docker.service openvpn.service
 
[Service]
TimeoutStartSec=60
Restart=always
ExecStartPre=-docker stop %p
ExecStartPre=-docker rm %p
ExecStartPre=-docker pull vhsw/transmission
ExecStart=docker run --rm \
                     --name %p \
                     -v /storage/downloads:/downloads \
                     -v /storage/transmission/config:/config \
                     -p 9091 \
                     -p 45555/tcp \
                     -p 45555/udp \
                     vhsw/transmission
 
[Install]
WantedBy=multi-user.target
